@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css");
:root {
    --blue: #2273F8;
    --gradient: linear-gradient(276deg, rgba(66, 207, 231, 1) 15%, rgba(237, 113, 163, 1) 85%);
}

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    transition: all .2s linear;
    text-transform: capitalize;
}

*::selection {
    background: var(--blue);
    color: #FFF;
}

html {
    /* font-family: "Oswald", sans-serif; */
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

.btn {
    font-size: 20px;
    padding: 7px 35px;
    border-radius: 50px;
    color: #FFF;
    background: var(--blue);
    margin-top: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    cursor: pointer;
    border: none;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.btn::before {
    content: '';
    position: absolute;
    top: 0; right: 0;
    height: 100%;
    width: 0%;
    background: #333;
    z-index: -1;
    transition: .2s linear;
}

.btn:hover::before{
    left: 0%;
    width: 100%;
}

.heading {
    padding: 5px 20px;
    font-size: 30px;
    background: rgba(0, 0, 0, .1);
    color: var(--blue);
    display: inline-block;
    margin: 10px 0;
}

.title {
    font-size: 20px;
    color: #333;
    padding: 0 10px;
    text-align: center;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0; left: 0;
    z-index: 100;
    padding: 20px 7%;
    background: var(--blue);
}

header .logo {
    font-size: 25px;
    color: #FFF;
}

header .logo i{
    padding: 0 5px;
}

header .navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

header .navbar ul li a{
    font-size: large;
    margin-left: 20px;
    color: #FFF;
    position: relative;
}

header .navbar ul li a::before{
    content: '';
    position: absolute;
    bottom: -5px; right: 0;
    width: 0;
    height: 2px;
    background: #FFF;
    transition: .2s linear;
}

header .navbar ul li a.active::before,
header .navbar ul li a:hover::before {
    left: 0;
    width: 100%;
}

header #menu{
    font-size: 30px;
    color: #FFF;
    cursor: pointer;
    display: none;
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: url(bgpic.jpg) no-repeat;
    background-size: 140% 100%;
    background-position: top;
    padding: 15px 7%;
    padding-top: 40px;
}

.home .image{
    flex: 1 1 40rem;
    padding-top: 6rem;
}

.home .image img{
    width: 100%;
}

.home .content{
    flex: 1 1 40rem;
    padding-top: 5rem;
}

.home .content .text-gradient{
    font-family: "Mooli", sans-serif;
    font-weight: bold;
    font-size: 4rem;
    color: #FFF;
    background-image: var(--gradient);
    color: #0000;
    /* -webkit-box-decoration-break: clone; */
    -webkit-background-clip: text;
    background-clip: text;
}

.home .content p{
    font-family: "Mooli", sans-serif;
    font-weight: 200;
    font-size: 2.0rem;
    color: #EEE;
    padding: 3rem 0;
}

.home .content .btn{
    background: #FFF;
    color: #333;
}

.home .content .btn:hover{
    background: #333;
    color: #FFF;
}

.about{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: #333;
    padding: 20px;
    padding-top: 60px;
}

.about .image{
    flex: 1 1 40rem;
    text-align: center;
    padding: 40rem 0;
}

.about .image img{
    height: 90vh;
}

.about .content{
    flex: 1 1 40rem;
}

.about .content h3{
    font-size: 4rem;
    color: #FFF;
}

.about .content .heading{
    background: rgba(0, 0, 0, .3);
}

.about .content p{
    font-size: 1.75rem;
    color: #EEE;
    padding: 20px 0;
}

.about .content ul li{
    list-style: none;
    font-size: 2rem;
    color: #FFF;
    padding: .5px 0;
}

.about .content ul li i{
    font-size: 25px;
    color: var(--blue);
    padding-right: 10px;
}

.feature {
    min-height: 100vh;
    text-align: center;
    justify-content: center;
    padding-top: 7rem;
}

.feature .desc{
    padding: 1rem 0;
    margin: 0 auto;
    width: 70rem;
    color: #666;
    font-size: 1.5rem;
}

.feature .container{
    display: flex;
    padding-top: 7.5%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.feature .container .box{
    margin: 2rem;
    width: 28rem;
    z-index: 0;
    position: relative;
}

.feature .container .box::before{
    content: '';
    position: absolute;
    top: 13.5%; left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: var(--blue);
    height: 10rem;
    width: 10rem;
    z-index: -1;
    box-shadow: 0 0 0 1rem rgba(0, 0, 255, .1);
}

.feature .container .box i{
    color: #FFF;
    font-size: 4.5rem;
    margin: 8rem 0;
}

.feature .container .box h3{
    color: #333;
    font-size: 2rem;
    cursor: pointer;
    margin-top: 100px;
    /* border: 1px dashed blue; */
}

.feature .container .box p{
    color: #666;
    font-size: 1.2rem;
    padding: 1rem 0;
}

.product{
    min-height: 100vh;
    text-align: center;
    background: #EEE;
    padding: 1rem;
    padding-top: 8rem;
}

.product .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.product .container .box{
    margin: 2rem;
    background: #FFF;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
    padding: 2rem 4rem;
}

.product .container .box h3{
    padding: 1rem 0;
    font-size: 2rem;
    color: #444;
}

.product .container .box .price{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 1rem 0;
    font-size: 3rem;
    color: #333;
    display: block;
}

.product .container .box img{
    height: 20rem;
    width: 20rem;
    margin: 1rem 0;
}

.contact{
    min-height: 100vh;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../images/contact.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 1rem;
    padding-top: 8rem;
}

.contact .heading{
    background: rgba(0, 0, 0, .5);
    color: #FFF;
}

.contact .title{
    color: #FFF;
}

.contact form{
    width: 85%;
    margin: 1rem auto;
}

.contact form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .inputBox input, .contact form textarea{
    height: 4rem;
    width: 50rem;
    padding: 0 1rem;
    margin: 1rem 0;
    font-size: 2rem;
    border: .2rem solid #EEE;
    background: none;
    text-transform: none;
    color: #FFF;
}

.contact form .inputBox input::placeholder, .contact form textarea::placeholder{
    color: #CCC;
}

.contact form .inputBox input:focus, .contact form textarea:focus{
    border-color: var(--blue);
}

.contact form textarea{
    height: 20rem;
    width: 100%;
    padding: 1rem;
    resize: none;
}

.contact form .btn:hover{
    background: #FFF;
    color: #333;
}

.faq{
    text-align: center;
    padding: 5rem;
    padding-top: 8rem;
    min-height: 100vh;
}

.faq .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.faq .row .image{
    flex: 1 1 40rem;
    padding: .5rem;
}

.faq .row .image img{
    height: 65vh;
    width: 100%;
}

.faq .row .accordian-container{
    flex: 1 1 40rem;
    padding: 1rem;
}

.faq .row .accordian-container .accordian{
    text-align: left;
    padding: .5rem 0;
}

.faq .row .accordian-container .accordian .accordian-heading{
    color: #FFF;
    background: var(--blue);
    padding: .75rem;
    font-size: 1.8rem;
    cursor: pointer;
}

.faq .row .accordian-container .accordian .accordian-content{
    color: #333;
    padding: 1rem;
    font-size: 1.3rem;
    border: .2rem solid var(--blue);
    display: none;
}

.faq .row .accordian-container .accordian:nth-child(1) .accordian-content{
    display: block;
}

.footer{
    background: #EEE;
}

.footer .box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer .box-container .box{
    flex: 1 1 30rem;
    margin: 2rem;
}

.footer .box-container .box i{
    color: #333;
    font-size: large;
    padding-right: 10px;
    margin: 8rem 0;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color: var(--blue);
}

.footer .box-container .box p{
    font-size: 1.5rem;
    color: #333;
    padding: 1rem 0;
}

.footer .box-container .box p li{
    padding:0 .5rem;
    color: var(--blue);
}

.footer .box-container .box:nth-child(2){
    text-align: center;
}

.footer .box-container .box a{
    padding: .5rem 0;
    font-size: 1.8rem;
    display: block;
    color: #333;
}

.footer .box-container .box a:hover{
    text-decoration: underline;
}

.footer .credits{
    padding:2rem 1rem;
    text-align: center;
    background: #333;
    color: #EEE;
    font-size: 2rem;
}

.footer .credits a{
    color: #FFF;
}

